* {
    background-color: black;
    color: white;

}

div {
    width: 50%;
    margin-left: 25%
}

h1 {
    font-family: Libre Bakersville;
    text-transform: uppercase;
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid white;
}